# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**:


*   Create a Jupyter Notebook
*   Insert code and markdown cells
*   Share your notebook through GitHub

# Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   SQL
4.   Julia

# Some of the commonly used libraries used by Data Scientists include:


1.   Numpy
2.   Seaborn
3.   Pandas
4.   Matplotlib
5.   TensorFlow
6.   Caret
7.   ggplot2

| Data Science Tools           |
|------------------------------|
| Jupyter Notebook             |
| RStudio                      |
| Apache Zeppelin              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
print(200 // 60, "hrs", 200 % 60, "min")

3 hrs 20 min

## Author
Mickaël Julus Jésugnon AHOUANGAN